* {
    margin: 0;
    /* box-sizing: border-box; */
    font-family: Arial;
    /* height: max-content; */
}


.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon/amazon_logo.png");
    width: 100%;
    height: 50px;
    background-size: cover;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.add1{
    color: #cccccc;
    font-size: 12px;
}

.add2{
    color: white;
    font-size: 14px;
}

.navsearch{
    display: flex;
    height: 40px;
    width: 620px;
    background-color: wheat;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    justify-content: space-evenly;
}

.searchsel{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;


}

.searchop{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.searchicon{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(241, 149, 44);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;


}
.navsearch:hover{
    border: 2px solid orange
}

span{
    font-size: 0.7rem;
}

.navsec{
    font: size 0.05rem;
    font-weight: 700;

}

.navcart i {
    font-size: 30px;
}

.navcart{
    font-size: 1rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panelops p{
    display: inline;
    margin-left: 15px;

}

.panelops{
    width: 70%;
    font-size: 0.85rem;
}

.paneldeals{
    font-size: 0.9rem;
    font-weight: 700;
}

.herosection{
    background-image: url("amazon/hero_image.jpg");
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10%;
    top: 90%;
    



} 

.heromessage{
    color: black;
    background-color: white;
    height: 40px;
    font-weight: 600;
    width: 98%;
    text-align: center
    
    
}

.shopsection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
    
}

.box{
    /* height: 300px;  this makes things overlap because box and boximg got the same size*/
    width: 23%;
    text-align: center;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

    


}

    
.boximg{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;
}

.boxcontent p{
    color: rgb(56, 133, 227);
    text-align: left;
    
}

.footer{
    margin-top: 15px;
}

.footpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}


.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display:flex;
    justify-content: space-evenly;
    
}

.footpanel2 p{
    font-weight: 700;
}


ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;

}

ul a:hover{
    border-bottom: 2px solid white;
    display: inline-block;
}

.footpanel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white ;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    background-image: url("amazon/amazon_logo.png");
    width: 100px;
    height: 50px;
    background-size: cover;
}


.footpanel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{

    padding-top: 25px;
}

.copyright{
    
    padding-top: 5px;
}